<% if user_signed_in? %>
<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
        <tr>
          <td><%= link_to friend.first_name + " " + friend.last_name, friend %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td>@<%= friend.twitter %></td>
          <td class="text-center"><%= link_to 'Destroy', friend, class:'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>

<% else %>

<h1>Bem vindo</h1>
<p>Cadastre-se ou faça login para utilizar nosso serviço de Lista de Amigos</p>
 
<% end %>